@model RecipePageViewModel

@{
	this.ViewData["Title"] = "All Recipes";
}

<div class="text-center">
	<h1 class="display-6">@this.ViewData["Title"]</h1>
	<hr />
</div>

<div class="row">
	@foreach (var recipe in this.Model.AllRecipes)
	{
		<div class="media col-md-3 mb-3">
			<img class="mr-3 img-fluid" src="@recipe.ImageUrl" width="250">
			<div class="media-body">
				<h5 class="mt-0">@recipe.Name</h5>
				@recipe.CategoryName
			</div>
		</div>
	}
</div>

<nav aria-label="Page navigation example">
	<ul class="pagination justify-content-center">
		<li class="page-item disabled">
			<a class="page-link">Previous</a>
		</li>
		<li class="page-item"><a class="page-link" href="#">1</a></li>
		<li class="page-item"><a class="page-link" href="#">2</a></li>
		<li class="page-item"><a class="page-link" href="#">3</a></li>
		<li class="page-item">
			<a class="page-link" href="#">Next</a>
		</li>
	</ul>
</nav>